@import 'variables';
/*
Table of Contents:
a. General Styles
b. Header Styles
c. About Styles
d. Resume Section
e. Portfolio Section
f. Call to Action Section
g. Testimonials Section
h. Contact Section
i. Footer
*/

/*
a. General Styles 
*/

body {
    background: $light2-color;
  }
  
  /*
  b. Header Styles 
  */
  
  header {
    position: relative;
    height: 400px;
    min-height: 400px;
    width: 100%;
    background: #161415 url(../images/sampleHeader.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden;
    /*specifies what to do with elements that do not fit in their container    */
    .banner {
      /*Targets the element before the header tag  */
      display: inline-block;
      vertical-align: middle;
      margin: 0 auto;
      width: 100%;
      padding-bottom: 30px;
      text-align: center;
    }
    .banner-text {
      width: 100%;
      h1 {
        font: 90px/1.1em  'opensans-bold', sans-serif;
        color: #fff;
        letter-spacing: -2px;
        margin: 50px auto 20px auto;
        text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
      }
      h3 {
        font: 18px/1.9em 'librebaskerville-regular', serif;
        color: #A8A8A8;
        margin: 0 auto;
        width: 70%;
        text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
      }
    }
    .scrolldown a {
      position: absolute;
      bottom: 30px;
      left: 50%;
      margin-left: -29px;
      color: #fff;
      display: block;
      height: 36px;
      width: 36px;
      font-size: 36px;
      line-height: 36px;
      border-radius: 100%;
      /* all transitions not working   */
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      transition: all 3s ease-in-out;
      &:hover {
        color: #11ABB0;
      }
    }
  }
  
  /* DOM element heirarchy: element > padding > border > margin > position              */
  /* negative margin-left moves element to the left, 
     negative margin-top moves element to top
     negative margin-right moves element to left
     negative margin-bottom moves element to top 
    */
  
  #nav-wrap {
    ul, li, a {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
    }
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;
  }
  
  .opaque {
    background-color: #333;
  }
  
  #nav-wrap > a.mobile-btn {
    display: none;
    /* Hiding mobile buttons */
  }
  
  ul#nav {
    min-height: 48px;
    width: auto;
    text-align: center;
    li {
      position: relative;
      list-style: none;
      height: 48px;
      display: inline-block;
      /* sets elements side by side  */
      a {
        display: incline-block;
        padding: 8px 13px;
        line-height: 32px;
        text-decoration: none;
        text-align: left;
        color: #fff;
        -webkit-transition: color .2s ease-in-out;
        /* for chrome     */
        -moz-transition: color .2s ease-in-out;
        /* for safari  */
        -o-transition: color .2s ease-in-out;
        /* for opera  */
        -ms-transition: color .2s ease-in-out;
        /* for internet explorer  */
        transition: color 0.2s ease-in-out;
        &:active {
          background-color: transparent !important;
        }
      }
      &.current a {
        color: #F06000;
      }
    }
  }
  
  /*
  About section
  -------------------------------
  */
  
  .about {
    background: $light2-color;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
    .profile-pic {
      position: relative;
      width: 120px;
      height: 120px;
      border-radius: 100%;
    }
  }
  
  div.three.columns {
    display: block;
  }
  
  .about {
    .main-col {
      padding-right: 5%;
    }
    h2 {
      font: 22px/30px 'opensans-bold', sans-serif;
      color: rgb(0, 0, 0);
      margin-bottom: 12px;
    }
    p {
      line-height: 30px;
      color: #7A7A7A;
    }
    .contact-details {
      width: 41.66667%;
    }
    .download .button {
      margin-top: 6px;
      /* background: #444; */
      &:hover {
        /* background: #fff; */
        color: #2B2B2B;
      }
      i {
        margin-right: 15px;
        font-size: 20px;
      }
    }
    .row .main-col {
      h2, p {
        text-align: left;
      }
    }
    .download {
      width: 58.33333%;
      height: 114px;
      padding-top: 6px;
      .button {
        margin-top: 6px;
        background: #444;
      }
    }
    a {
      color: #fff;
      &:visited {
        color: #fff;
      }
      &:hover, &:focus {
        color: #11ABB0;
      }
    }
    .download .button {
      &:hover {
        background: #838C95;
        color: #2B2B2B;
      }
      svg {
        /* FontAwesomeIcon element is a svg element in the DOM  */
        font-size: 20px;
        margin-right: 15px;
      }
    }
  }
  
  /* Never min-width, min-height and/or max-width/max-height
      elements contained in bigger divs */
  /* .about .row .main-col {
      display: inline-block; */
  
  /* top and bottom margins are 0, left and right margins are auto    */
  
  /* ==$0 mean the last node select   */
  