/*
Table of Contents:
a. General Styles
b. Header Styles
c. About Styles
d. Resume Section
e. Portfolio Section
f. Call to Action Section
g. Testimonials Section
h. Contact Section
i. Footer
*/

/*
a. General Styles 
*/

body{ 
    background: #f3efef; 
}





/*
b. Header Styles 
*/
header {
    position: relative;
    height: 400px;
    min-height: 400px;
    width: 100%;
    background: #161415 url(../images/sampleHeader.jpg) no-repeat top center;
    background-size: cover !important;
    -webkit-background-size: cover !important;
    text-align: center;
    overflow: hidden; /*specifies what to do with elements that do not fit in their container    */
}

header .banner { /*Targets the element before the header tag  */
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    width: 100%;
    padding-bottom: 30px;
    text-align: center;
}

header .banner-text {
    width: 100%;
}

header .banner-text h1{
    font: 90px/1.1em  'opensans-bold', sans-serif;
    color: #fff;
    letter-spacing: -2px;
    margin: 50px auto 20px auto;
    text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.8);
}

header .banner-text h3{
    font: 18px/1.9em 'librebaskerville-regular', serif;
    color: #A8A8A8;
    margin: 0 auto;
    width: 70%;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 1);
}

/* DOM element heirarchy: element > padding > border > margin > position              */
/* negative margin-left moves element to the left, 
   negative margin-top moves element to top
   negative margin-right moves element to left
   negative margin-bottom moves element to top 
  */

header .scrolldown a {
    position: absolute;
    bottom: 30px;
    left: 50%;
    margin-left: -29px;
    color: #fff;
    display: block;
    height: 36px;
    width: 36px;
    font-size: 36px;
    line-height: 36px;
    border-radius: 100%;
    
    /* all transitions not working   */
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all 3s ease-in-out;
   
 
}
header .scrolldown a:hover {
    color: #11ABB0;
}




#nav-wrap ul, #nav-wrap li, #nav-wrap a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

#nav-wrap {
    font: 12px 'opensans-bold', sans-serif;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    margin: 0 auto;
    z-index: 100;
    position: fixed;
    left: 0;
    top: 0;

}

.opaque { background-color: #333; }


#nav-wrap > a.mobile-btn {
    display: none; /* Hiding mobile buttons */
}

ul#nav {
    min-height: 48px;
    width: auto;

    text-align: center;
}

ul#nav li {
    position: relative; 
    list-style: none;
    height: 48px;
    display: inline-block; /* sets elements side by side  */
}

ul#nav li a {
    display: incline-block;
    padding: 8px 13px;
    line-height: 32px;
    text-decoration: none;
    text-align: left;
    color: #fff;

    -webkit-transition: color .2s ease-in-out; /* for chrome     */
    -moz-transition: color .2s ease-in-out; /* for safari  */
    -o-transition: color .2s ease-in-out; /* for opera  */
    -ms-transition: color .2s ease-in-out; /* for internet explorer  */
    transition: color .2s ease-in-out /*  similar to animations but not an animation   */
}


ul#nav li a:active { background-color: transparent !important; }
ul#nav li.current a { color: #F06000; }


/*
About section
-------------------------------
*/

.about {
    background: #f3efef;
    padding-top: 96px;
    padding-bottom: 66px;
    overflow: hidden;
}


.about .profile-pic { 
    position: relative ;
    width: 120px;
    height: 120px;
    border-radius: 100%;
 

}

div.three.columns { 
    display: block;
   
}
.about .main-col { 
    padding-right: 5%; }
.about h2 {
    font: 22px/30px 'opensans-bold', sans-serif;
    color: rgb(0, 0, 0);
    margin-bottom: 12px;
}
.about p {
    line-height: 30px;
    color: #7A7A7A;
}

/* Never min-width, min-height and/or max-width/max-height
    elements contained in bigger divs */
/* .about .row .main-col {
    display: inline-block; */
    
    /* top and bottom margins are 0, left and right margins are auto    */


.about .contact-details { 
    width: 41.66667%;
}

.about .download .button{
    margin-top: 6px;
    /* background: #444; */
}
.about .download .button:hover{
    /* background: #fff; */
    color: #2B2B2B;
}
.about .download .button i {
    margin-right: 15px;
    font-size: 20px;
}
.about .row .main-col h2 {
    text-align: left;
}
.about .row .main-col p {
    text-align: left;
}
/* ==$0 mean the last node select   */

.about .download {
    width: 58.33333%;
    height: 114px;
    padding-top: 6px;
}

.about .download .button {
    margin-top: 6px;
    background: #444;
}

.about a, .about a:visited {
    color: #fff;
}
.about a:hover, .about a:focus { 
    color: #11ABB0;
}

.about .download .button:hover {
    background: #838C95;
    color: #2B2B2B;
}

.about .download .button svg {
    /* FontAwesomeIcon element is a svg element in the DOM  */
    font-size: 20px;
    margin-right: 15px;
}

/* --------------------------------------------------------- */
/* d. Resume Section                                       
/* --------------------------------------------------------- */

.resume{
    background: #fff;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
}

.resume a, .resume a:visited { color: #11ABB0; }
.resume a:hover, .resume a:focus { color: #313131; }

.resume h1 {
    font: 18px/24px 'opensans-bold', sans-serif;
    /* font-size/line height   */
    text-transform: uppercase;
    letter-spacing: 1px;
}
 .resume h1 span {
    border-bottom: 3px solid #11ABB0;
    padding-bottom: 6px;
    font-size:
   
 }
.resume h3 {
    font: 25px/30px 'opensans-bold', sans-serif;
}
.resume .header-col { 
    padding-top: 9px;
    margin-bottom: 40px;
    margin-top: 0px;
    padding-top: 0px;

 }
.resume .main-col   { padding-right: 10%; }


.education, .work {
    margin-bottom: 48px;
    padding-bottom: 24px;
    border-bottom: 1px solid #E8E8E8;
}
.education .main-col ul li {
    text-align: center;
 
}
.education .main-col .row {
    padding-bottom: 5%;
    overflow: hidden;
}

.resume .info {
    font: 16px
}












