@import '../../public/scss/variables';



  /* --------------------------------------------------------- */
  /* d. Resume Section                                       
  /* --------------------------------------------------------- */
  .container {
   
    flex-direction: column;
    display: flex;
  }
  .resume {
    background: $light2-color;
    padding-top: 90px;
    padding-bottom: 72px;
    overflow: hidden;
    a {
      color: #11ABB0;
      &:visited {
        color: #11ABB0;
      }
      &:hover, &:focus {
        color: #313131;
      }
    }
    h1 {
      font: 18px/24px 'opensans-bold', sans-serif;
      /* font-size/line height   */
      text-transform: uppercase;
      letter-spacing: 1px;
  
      span {
        padding-bottom: 6px;
      }
      span {
          font-size: 2em;
          vertical-align: middle;
      }
    }
  }
  
  .education__cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .education__card {
    flex: 0 1 calc(50% - 1em);
    /* flex shorthand for: flex-grow flex-shrink width */
  }
  
  @media screen and (min-width: 0px) {
    .education__cards {
      display: flex;
      flex-wrap: wrap;
      /* puts the card underneath each other */
      justify-content: space-between;
    }
    .education__card {
      height: 250px;
      flex: 0 1 100%;
      background-color: rgb(151, 148, 148);
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
      /* 1em = 16px */
      /* flex: flex-grow flex-shrink width        */
    }
  }
  
  /* ADD MEDIA FOR BETWEEN 960 AND 640 */
  @media screen and (min-width: 640px) {
    .education__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .education__card {
      height: 250px;
      flex: 0 1 calc(30% - 1em);
      background-color: rgb(151, 148, 148);
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
    }
  }
  
  @media screen and (min-width: 960px) {
    .education__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .education__card {
      height: 250px;
      flex: 0 1 calc(30% - 1em);
      background-color: rgb(151, 148, 148);
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
    }
  }
.header-col {
    height: 15vh;
    // position: absolute;
    // width: 100%;
    background-color: $primary-color;
}
.header-col h1 {
    font-size: 2.2em;
    text-align: left;
    padding-left: 5px;
    padding-top: 15px;
}
  @media screen and (min-width: 1080px) {
    .education__cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .education__card {
      height: 250px;
      flex: 0 1 calc(30% - 1em);
      background-color: rgb(151, 148, 148);
      background: linear-gradient(#f8f8f8, #fff);
      box-shadow: 0 8px 16px -8px rgba(0, 0, 0, 0.4);
      border-radius: 6px;
      overflow: hidden;
      position: relative;
      margin: 1.5rem;
      /* flex: flex-grow flex-shrink width */
    }
  }